<!-- Clase del modulo: CardsHomeModule
Descripcion: Fichero para renderizar la parte del HOME de CARDS -->
<div id="cards">
	{% for card in cardsdata  %}
	<div id="card">
		<h1><a href="/home/ds/{{ card['did'] }}">{{ card['title'] }}</a></h1>
		<a href="/home?a={{ card['aid'] }}">{{ card['subtitle'] }}</a>
		{% for img in card['imgs'] %}
		<img src=/var/static/plot/{{ img }}>
		{% end %}
		<table>
		<tr>
		<th>Variable</th><th>Last Value</th>
		</tr>
		{% for dp in card['table'] %}
		<tr>
		<td><font color="{{ dp[2] }}">{{ dp[0] }}</font></td><td>{{ dp[1] }}</td>
		</tr>
		{% end %}
		</table>
	</div>
	{% end %}
</div>
