<!-- Clase del modulo: CardsHomeModule
Descripcion: Fichero para renderizar la parte del HOME de CARDS -->
<div id="profile">
<table>
<tr>
<td>email:</td><td><input type="email" id="email" value={{ data['email'] }}></td>
</tr>
<tr>
<td>Old Password:</td><td><input type="password" id="old_p"></td>
</tr>
<tr>
<td>New Password:</td><td><input type="password" id="new_p"></td>
</tr>
<tr>
<td>Repeat New Password:</td><td><input type="password" id="new_p2"></td>
</tr>
</table>
<input type="button" value="Update" OnClick="updateprofile()"/>
</div>
