/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
html {
      position: relative;
      min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 60px;
  background-color: #eee;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  /*background-color: #f5f5f5;*/
  /*border-right: 1px solid #eee;*/
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.sidebar-right {
  position: fixed;
  top: 51px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  padding-bottom: 60px;
  overflow-y: scroll;
  /*border-left: 1px solid #eee;*/
}

/*
 * Main content
 */

.main {
  position: fixed;
  top: 51px;
  bottom: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  margin-bottom: 70px;
  overflow-x: hidden;
  overflow-y: scroll; /*Scrollable contents if viewport is shorter than content.*/
  /*border-left: 1px solid #eee;*/
  border-right: 1px solid #eee;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer .motto {
  font-family: sans-serif;
  font-size: 11px;
  vertical-align: bottom;
}

.form-inline .form-group input {
  width: 700px;
}

/*
*  Slides related styles
*/

.SlideBarIcons {
    visibility: hidden;
}

.Slide:hover .SlideBarIcons {
    visibility: visible;
}

/*
*  D3 related styles
*/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.histogram text {
    font-family: sans-serif;
    font-size: 10px;
}

.wtb { table-layout: fixed; }
.wtb th, .wtb td { overflow: hidden; }

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  position: absolute;
  text-indent: 2px;
  margin: 5px;
}

.slide {
  fill: white;
  fill-opacity: 1;
}

.node:hover .slide{
  stroke: #bbb;
  stroke-width: 1px;
}

.slide-menu {
  pointer-events: none;
  opacity: 0;
  transition: all 500ms ease;
}

.slide-title {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  pointer-events: none;
  opacity: 0;
  transition: all 500ms ease;
}

.slide-label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  pointer-events: none;
  transition: all 500ms ease;
}

.node:hover .slide-menu{
  pointer-events: inherit;
  opacity: 1;
}

.node:hover .slide-title{
  opacity: 1;
}

.node:hover .slide-label{
  opacity: 0;
}

/* 
  User Events
*/

.userevents {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.userevents:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #ccc;
  left: 25px;
  margin-left: -1.5px;
}

.userevents > li {
  margin-bottom: 20px;
  position: relative;
}
.userevents > li:before,
.userevents > li:after {
  content: " ";
  display: table;
}
.userevents > li:after {
  clear: both;
}
.userevents > li > .userevents-panel {
  background-color: #fff;
  width: calc( 100% - 75px );
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.userevents > li > .userevents-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.userevents > li > .userevents-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.userevents > li > .userevents-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0px;
  margin-left: 0px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.userevents > li.userevents-inverted > .userevents-panel {
  float: right;
}
.userevents > li.userevents-inverted > .userevents-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.userevents > li.userevents-inverted > .userevents-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.userevents-badge.primary {
  background-color: #2e6da4 !important;
}
.userevents-badge.success {
  background-color: #3f903f !important;
}
.userevents-badge.warning {
  background-color: #f0ad4e !important;
}
.userevents-badge.danger {
  background-color: #d9534f !important;
}
.userevents-badge.info {
  background-color: #5bc0de !important;
}
.userevents-title {
  margin-top: 0;
  color: inherit;
}
.userevents-body > p,
.userevents-body > ul {
  margin-bottom: 0;
}
.userevents-body > p + p {
  margin-top: 5px;
}
