@charset "UTF-8"

*{
  padding: 0;
  margin: 0;
  list-style: none;
}

html, body {
  min-width: 1024px;
}

body {
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
}

/* Arreglo para las nuevas secciones de html5 en navegadores antiguos */
header, section, footer, aside, nav, article, figure { 
  display: block; 
}

/* Estilos para la pantalla de login
 * esta pantalla es distinta del resto
 */

header h1 {
    text-align: center;
}

#c_login {
  width: 350px;
  margin: auto;
  background-color: #ccc;
}

.cl_f_login {
  width: 30%;
}

.ci_f_login {
  width: 70%;
}

.cb_f_login {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.ce_f_login{
  width: 100%;
  margin-bottom: 10px;
}

/*
 * Estilos generales
 */

.float_left {
  float: left;
}

.float_right {
  float: right;
}


/*
 * Estilos pagina base
 */

#c_container {
  width: 100%;
  position:relative;
  margin: auto;
  background-color: #FFF;
  min-width: 1000px;
}

#c_header {
  width: 100%;
  height: 30px;
  border-bottom:2px solid #CCC;
}

#c_sidebar_left {
  width: 200px;
  position: relative;
  top: 32px;
  bottom: 0;
  left: 0;
  border-right:2px solid #CCC;
  overflow: auto;
  padding-top: 10px;
}

#c_content {
  position: relative;
  margin-left: 200px;
  padding-left: 15px;
  padding-top: 10px;
}


/*
 * Estilos del Header
 */

#c_user_control {
  height: inherit;
  background-color: white;
  text-align: right;
}

.row_button {
  width: 24px;
}

.row_avatar {
  width: 48px;
}

.row_username {
  text-align: center;
  font-weight: bold;
  text-transform: lowercase;
  padding-right: 15px;
}

/*
 * Estilo footer
 */

footer {
  width:99%;
  font-size: 10px;
  text-align: right;
}

/*
 * Estilo botones
 */

.big_button {
  height: 24px;
  width: 24px;
  text-decoration: none;
  display: block;
}

.button_logout {
  background: url(../img/img_b_logout.png) no-repeat transparent;
}

.button_settings {
  background: url(../img/img_b_settings.png) no-repeat transparent;
}

/*
 * Temporal
 */

.label {
  display: inline;
  padding: .25em .6em;
  font-size: 90%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label-default {
  background-color: #ffe4c3;
}

.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}

/*
 * Estilo objetos komlog
 * */

.c_window {
  border: 2px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  overflow: auto;
  resize: both;
  padding: 0px;
  margin: 5px;
  font-size: 11px;
  background-color: #fffaf2;
}

.c_window h3 {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 90%;
    height: 17px;
    background-color: #ff8d00;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.c_window .button_bar {
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 0px;
    height: 17px;
    width: 10%;
    background-color: #ff8d00;
    color: #fff;
}

.c_window pre {
    padding: 0px 10px 0px 10px;
}

.button_bar .button_close {
  color: #ff8d00;
  padding-right: 10px;
  margin: 0px;
  width: auto;
  float: right;
  background: url(../img/img_b_close.png) no-repeat transparent;
}

