[Unit]
Description=Komlog Service
After=multi-user.target

[Service]
Type=idle
User=komlog
Group=komlog
ExecStart=/usr/bin/komlog
PIDFile=/run/komlog/komlog.pid
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=komlog.service
