[Unit]
Description=Komlog IMC Service
After=redis.service rsyslog.service ntpd.service
Wants=redis.service rsyslog.service ntpd.service

[Service]
Type=idle
ExecStart=$HOME/.local/bin/komlog-imc
PrivateTmp=true
StandardOutput=null

[Install]
Alias=komlog-imc.service
