<!DOCTYPE html>
<html>
<head>
<title>Komlog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<div class="row">
<div class="span1 offset1">Komlog</div>
<div class="span1">Config</div>
<div class="span2 offset11"> {{ username }}</div>
</div>
<div class="container-fluid">
<div class="row-fluid">
<div class="span2">
{% for agent in userdata %}
    <tr><th>{{ agent['agentname]' }}</th></tr>
    {% for ds in agent['dss'] %}
       <tr><td>{{ ds['dsname'] }}</td></tr>
</div>
<div class="span10">
--Body content--Hola fondo Oeste!!! asdf asdlkfj ñaslkdfj ñalksdjf ñaklsdjfñ lkasjdfñ kjqjtq j31o5ijpy31 i5jpyti24yoipiyjproiyjpoij6ypoeij6095i3u6ui3096ih0539ih0yh04jyj5p9hij49yihj93ht935jty983j5h968j349h6j'9348j9vhj349 jh'8j'658jy3 948j6y'9348jy 9348j8j '983j4y9 8j4'56 8yj3'58j '348j y'9438j5 '4928j 3948j 948jp984j'9h8j459 hjiu5h oi32uh5 o23g5 to2g o2y3o5 
</div>
</div>
</div>
</body>
</html>
