{% extends "base.html" %}

{% block jsDefinition %}
<script src="{{ static_url("js/jquery-1.10.2.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/jsTree/jquery.jstree.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/jsTree/_lib/jquery_cookie.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/general_functions.js")}}" type="text/javascript"></script>
{% end %}

{% block body %}
<aside id="c_sidebar_left" class="float_left">
	{% module AgentMenuConf(userdata) %}
</aside>

<section id="c_content" class="float_left">
</section>
{% end %}
