{% extends "base.html" %}

{% block jsDefinition %}
<script src="{{ static_url("js/react-0.13.1.js")}}"></script>
<script src="{{ static_url("js/JSXTransformer-0.13.1.js")}}"></script>
<script src="{{ static_url("js/jquery.min.js")}}"></script>
<script src="{{ static_url("js/bootstrap.min.js")}}"></script>
<script src="{{ static_url("js/d3.min.js")}}"></script>
<script src="{{ static_url("js/pubsub.js")}}"></script>
<script type="text/jsx" src="{{ static_url("js/komlog-main.js")}}"></script>
<script type="text/jsx" src="{{ static_url("js/komlog-navgraph.js")}}"></script>
<script type="text/jsx" src="{{ static_url("js/komlog-shell.js")}}"></script>
<script type="text/jsx" src="{{ static_url("js/komlog-datasource-store.js")}}"></script>
<script type="text/jsx" src="{{ static_url("js/komlog-datapoint-store.js")}}"></script>
<script type="text/jsx" src="{{ static_url("js/komlog-slide-store.js")}}"></script>
<script type="text/jsx" src="{{ static_url("js/komlog-shell-store.js")}}"></script>
<script type="text/jsx" src="{{ static_url("js/komlog-d3.js")}}"></script>
{% end %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Komlog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Profile</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 sidebar">
          <div class="panel panel-default">
            <form>
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
          <div id="navigation-graph-box">
          </div>
          <div class="panel panel-default" id="search-results-box">
            <div class="panel-heading">Search results</div>
            <ul class="list-group">
            </ul>
          </div>
          <div class="panel panel-default" id="notifications-box">
            <div class="panel-heading">Notifications</div>
            <ul class="list-group">
            </ul>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-4 main" id="workspace-content">
        </div>
      </div>
    </div>
{% end %}
