{% extends "base.html" %}

{% block jsDefinition %}
<script src="{{ static_url("js/react-with-addons-0.14.6.js")}}"></script>
<script src="{{ static_url("js/react-dom-0.14.6.js")}}"></script>
<script src="{{ static_url("js/react-bootstrap.min.js")}}"></script>
<script src="{{ static_url("js/jquery.min.js")}}"></script>
<script src="{{ static_url("js/bootstrap.min.js")}}"></script>
<script src="{{ static_url("js/d3.min.js")}}"></script>
<script src="{{ static_url("js/pubsub.js")}}"></script>
<script src="{{ static_url("js/komlog-utils.js")}}"></script>
<script src="{{ static_url("js/komlog-user-store.js")}}"></script>
<script src="{{ static_url("js/komlog-datasource-store.js")}}"></script>
<script src="{{ static_url("js/komlog-datapoint-store.js")}}"></script>
<script src="{{ static_url("js/komlog-widget-store.js")}}"></script>
<script src="{{ static_url("js/komlog-dashboard-store.js")}}"></script>
<script src="{{ static_url("js/komlog-snapshot-store.js")}}"></script>
<script src="{{ static_url("js/komlog-slide-store.js")}}"></script>
<script src="{{ static_url("js/komlog-uri-store.js")}}"></script>
<script src="{{ static_url("js/komlog-event-store.js")}}"></script>
<script src="{{ static_url("js/komlog-d3.js")}}"></script>
<script src="{{ static_url("js/komlog-widget.js")}}"></script>
<script src="{{ static_url("js/komlog-dashboard.js")}}"></script>
<script src="{{ static_url("js/komlog-snapshot.js")}}"></script>
<script src="{{ static_url("js/komlog-main.js")}}"></script>
<script src="{{ static_url("js/komlog-user-header.js")}}"></script>
<script src="{{ static_url("js/komlog-toolbar.js")}}"></script>
<script src="{{ static_url("js/komlog-navtree.js")}}"></script>
<script src="{{ static_url("js/komlog-menu.js")}}"></script>
<script src="{{ static_url("js/komlog-event.js")}}"></script>
<script src="{{ static_url("js/komlog-related.js")}}"></script>

{% end %}

{% block body %}
    <div id='user-header'>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 sidebar">
          <div id="desktop-menu">
          </div>
          <div id="navigation-tree">
          </div>
          <div id="related-slides">
          </div>
        </div>
        <div class="col-md-6 col-md-offset-3 main" id="workspace-content">
        </div>
        <div class="col-md-3 col-md-offset-9 sidebar-right">
          <div id="events-sidebar" />
        </div>
      </div>
    </div>
{% end %}
