{% extends "p_base.html" %}

{% block p_content %}
    <!-- Page Content -->
    <div class="container">
      <div class="well">
      {% if response.status==status.WEB_STATUS_OK %}
        <h2>Success!!!</h2>
        <h5>Your request has been processed successfully. We will send you and email to <strong>{{ response.data['email'] }}</strong> as soon as we have invitations available.</h5>
      {% else %}
        <h2>Error...</h2>
        <h5>Your request has been processed with errors (error: {{ response.error }}). Please, <a href="/invite" >try again</a> later.</h5>
      {% end %}
      </div>
    </div>
    <!-- /.container -->
{% end %}
