<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

  </head>

  <body>

    <script>
        function loginuser(){
             user=$("#userfield").val();
             pass=$("#passfield").val();
             $.ajax({
                     url: "/login",
                     type: 'POST', 
                     data: { 
                         username: user,
                         password: pass
                     },
                     success: function (response) {
                         if (response.redirect){
                             window.location.href=response.redirect;
                         }
                     },
                     error: function (xhr, ajaxOptions, thrownError) { 
                         alert(xhr.status);
                         alert(xhr.responseText);
                     },
                 });
                };
    </script>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input id="userfield" type="text" class="form-control" placeholder="username or email address" autofocus>
        <input id="passfield" type="password" class="form-control" placeholder="password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button onclick="loginuser()" class="btn btn-large btn-primary btn-block" type="button">Sign in</button>
      </form>

    </div> <!-- /container -->

  </body>
</html>
