{% extends "p_base.html" %}

{% block p_content %}
    <!-- Page Content -->
    <div class="container">
        {% if response.status == status.WEB_STATUS_OK %}
        <div class="well well-signin">
            <form class="form-signup" method="post" action="">
                <h2 class="form-signup-heading">Create account</h2>
                <label for="username" class="sr-only">username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="username" required autofocus>
                <label for="password" class="sr-only">password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="password" required>
                <label for="repeat-password" class="sr-only">repeat password</label>
                <input type="password" id="repeat-password" name="repeat-password" class="form-control" placeholder="repeat password" required>
                <label for="email" class="sr-only">email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="email" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            </form>
        </div>
        {% else %}
        <div class="well">
            <h2>Error...</h2>
            {% if response.status == status.WEB_STATUS_NOT_FOUND %}
            <h5>The invitation code requested does not exist. Please, request one <a href="/invite" >here</a>.</h5>
            {% elif response.status == status.WEB_STATUS_BAD_PARAMETERS and response.error == errors.E_IWAU_CIR_INVAU %}
            <h5>The invitation code is already used. Please, request another one <a href="/invite" >here</a>.</h5>
            {% elif response.status == status.WEB_STATUS_BAD_PARAMETERS %}
            <h5>The invitation code is not valid. Please, request a valid one <a href="/invite" >here</a>.</h5>
            {% else %}
            <h5>Sorry, something went wrong (error code: {{ response.error }}). Please, try again later or request a new invitation <a href="/invite" >here</a>.</h5>
            {% end %}
        </div>
        {% end %}
    </div>
    <!-- /.container -->
{% end %}
