<div ng-controller="leftMenuCtrl" ng-class="getMenuClass()">
  <ul class="agent_list">
    <li ng-repeat="agent in ag_c | orderBy:'agentname'">
      {{agent.agentname}}
      <ul class="ds_list">
        <li ng-repeat="ds in ds_c | orderBy:'datasourcename' | filter: {aid:agent.aid}: true">
          <div ng-repeat="widget in wg_c" ng-if="widget.did==ds.did">
            <a href="#" ng-click="showWidget((widget.wid| filter: {did:ds.did}: true))">{{ds.datasourcename}}</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
