<div draggable class="c_window">
    <div class="title_bar">
        <div ng-repeat="ds in ds_c" ng-if="ds.did==widget.did">
            <h3>{{ ds.name }}</h3>
        </div>
    </div>
    <div class="button_bar">
        <div class="button_close" ng-click="hideWidget(widget.wid)">
            <p> 
            </p>
        </div>
    </div>
    <div ng-repeat="ds in ds_d" ng-if="ds.did==widget.did">
        <div class="date_info">{{ ds.ds_date }}</div>
        <pre ds-content={{ds.did}}> </pre>
    </div>
</div>
